.about {
  margin-top: 65px;

  &__title {
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  &__img {
    padding-top: 40px;
  }

  &__descr {
    width: 528px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 40px;
  }

  &__exp {
    background: #8D7370;
  }

  &__achivment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 21px;
    padding-top: 85px;

  }

  &__achiv-descr {
    width: 190px;
    text-align: center;
    font-size: 50px;
    line-height: 62px;
    color: #FFFFFF;
    margin-bottom: 81px;

    &_words {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
    }
  }
}