.footer {
  padding: 37px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  }

  &__tel {
    font-size: 15px;
    color: #533738;
    text-decoration: none;

    &:hover {
      color: #CC8B86;
    }
  }

  &__address {
    margin: 0 auto 0 42px;
  }
}