.team {
  margin-top: 65px;
  padding-top: 50px;
  padding-bottom: 80px;
  background: #E2C4BA;

  &__title {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
  }

  &__cards {
    padding: 40px 82px 35px 82px;
    display: flex;
    flex-wrap: wrap;
    gap: 21px;
    justify-content: center;
  }

  &__card-img {
    width: 311px;
  }

  &__card-descr {
    margin: 0;
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
    width: 311px;
  }

  &__process {
    margin: 0;
    padding: 0;
    margin-top: 35px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__process-card {
    min-height: 210px;
  }

  &__process-number {
    margin: 0 auto;
    width: 70px;
    min-height: 70px;
    border-radius: 100%;
    background: #8D7370;
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
  }

  &__process-descr {
    margin-top: 20px;
    width: 273px;
    text-align: center;
  }
}